* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  line-height: 24px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #1f2328;
  background-color: #d8dadc;
}

body {
  height: 100%;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

/* -----main section */
.list-container * {
  background-color: #fff;
}

.list-container {
  border: 1px solid #1f2328;
  margin: 10%;
}

.subtitle {
  justify-content: space-between;
  border-bottom: 1px solid #c3c6cb;
  padding: 1.2rem 1rem;
}

.add-form {
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #c3c6cb;
  justify-content: space-between;
}

.add-item {
  font-style: italic;
  border: none;
  width: 40vw;
}

.description {
  border: none;
  width: 40vw;
}

.bgYellow * {
  background-color: #e0e27600;
}

.bgYellow {
  background-color: #f3f97de1;
}

input[type="text"]:focus {
  outline: none;
}

.list-item {
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #c3c6cb;
  justify-content: space-between;
}

.check-descrip {
  gap: 1rem;
}

.clear-bttn {
  color: rgb(140, 136, 136);
  padding: 1.2rem 1rem;
  border: none;
  background-color: #c3c6cb;
  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: #636a7275;
}
